@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.add_modal_content {
    
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: v.$color-purple;
    border: 2px v.$color-dark solid;
    color: v.$color-dark;
    width: min(90vw, 520px);
    border-radius: 5px;
    padding: 20px;
    outline: none;
    transform: translateY(0);
    transition: opacity 150ms ease, transform 150ms ease;
    overflow-y: scroll;

    .upload_form{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upload_image{
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: start;
        gap: 5px;
        width: 100%;
    }

    .upload_title, .upload_cat, .upload_area{
        display: flex;
        flex-direction: column;
        gap:5px;
        width: 100%;
    }
    .upload_area{
        margin-top: 5px;

        textarea{
            width: 100%;
            max-width: 270px;
            color: #000;
            border: 4px solid #000;
            border-radius: 0;
            outline: none;
            transition: all 0.3s ease;
            box-shadow: 8px 8px 0 #000;
            resize: none;
            padding: 10px;
            height: 100px;
            font-size: v.$p-size;
        }
    }
    .preview{
        width: 300px;
        height: 300px;
        background-color: v.$color-light;
        margin: 20px;
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
  }

  button{
    margin: 20px;
    height: 60px;
    padding: 12px;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
  }
}

select, 
select::picker(select){
    appearance:base-select;
}

select {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 15px;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    box-shadow: 8px 8px 0 #000;
}