@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.btn-shake {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: -40px;

  width: 20%;
  max-width: 270px;
  height: 60px;

  font-family: v.$font-primary;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: v.$color-dark;
  background-color: v.$color-light;

  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 v.$color-dark;
  }

  &:active {
    background-color: v.$color-dark;
    color: v.$color-light;
    border-color: v.$color-light;
  }

  // Responsive
  @include m.media(v.$bp-lg) {
    top: -90px;
    padding: 15px 40px;
    width: 70%;
    max-width: 270px;
    height: 60px;
  }
}
