@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.contact_modal_content{
  background: v.$color-purple;
  border: 2px v.$color-dark solid;
  color: v.$color-dark;
  width: min(90vw, 520px);
  border-radius: 5px;
  padding: 50px;
  outline: none;
  transform: translateY(0);
  transition: opacity 150ms ease, transform 150ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  .modal_image{
    width: 50%;
  }
  .contact_text_container
  {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    
    p{
        font-size: 18px;
        margin: 0;
    }
  }
}