@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.doodle_bg {
  position: absolute;
  height: 90%;
  top: 60px;
  right: 0;
  z-index: -1;
   mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  @include m.media(v.$bp-lg) {
    top: 110px;
  }
}

.home_section{
  margin: 90px 0 160px 0;
  &.media{
    padding: 90px;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 100px auto;
    background-color: v.$color-light;
    border: 2px solid black;
    color: #000;
    box-shadow: 8px 8px 0 #000;
  }
}