@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.doodle_bg {
  position: absolute;
  padding-top: 60px;
  top: 0;
  right: 0;
  height: 90%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

  @include m.media(v.$bp-lg) {
    top: 0px;
    padding-top: 150px;
    height: 100%;
  }
}

.home_section {
  margin-top: 160px;
  position: relative;

  @include m.media(v.$bp-lg) {
  margin-top: 150px;
  }
  &.skill{
  @include m.media(v.$bp-lg) {
    margin-top: 70px;
  }
  }
  &.media {
    width: 90%;
    max-width: 900px;
    margin: 130px auto 160px auto;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$color-light;
    border: 2px solid v.$color-dark;
    box-shadow: 8px 8px 0 v.$color-dark;
    color: v.$color-dark;
    border-radius: 5px;

    @include m.media(v.$bp-lg) {
      padding: 60px 20px;
      margin: 100px auto 120px auto;
    }
  }
}
