@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.doodle_bg {
  position: absolute;
  height: 90%;
  top: 60px;
  right: 0;
  z-index: -1;

  @include m.media(v.$bp-lg) {
    height: 110%;
  }
}

.empty_container {
  height: 120px;
  background-color: v.$color-dark;
}

.work_section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .filter {
    background-color: v.$color-dark;
    color: v.$color-light;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
    box-shadow: 8px 8px 0 v.$color-purple;
    margin-bottom: 0;

    button {
      &.active {
        color: v.$color-yellow;
      }
    }
  }
}

.card_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include m.media(v.$bp-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.media(v.$bp-sm) {
    grid-template-columns: 1fr;
  }
}

.timeline_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  h2{
    margin-bottom: 50px;
  }
}

.social-media{
    margin: 80px 0;
}