@use '../styles/abstract/variable' as v;

.loader_container {
  position: fixed;
  inset: 0;
  background-color: v.$color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
