@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.présentation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: v.$color-yellow;
    padding-top: 30px;
    margin: 50px 15%;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
    border: 2px solid black;
    
    @include m.media(v.$bp-lg) {
        flex-direction: column-reverse;
    }
    
    img{
        width: clamp(250px, 24vw, 450px);
        height: auto;
    }
    .text_containe{
        padding:  0 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: clamp(250px, 24vw, 600px);
        @include m.media(v.$bp-lg) {
            padding:  10px;
        }
    }
}
