@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.social-media {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;

  &__icon {
    display: inline-block;
    width: clamp(40px, 10vw, 80px);
    height: clamp(40px, 10vw, 80px);
    transition: transform 0.3s ease, filter 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    &:hover {
      transform: scale(1.2);
      filter: brightness(1.2);
    }
  }
}
