@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.title-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &__title {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding: 0.5rem 2.5rem;
    margin-bottom: 1rem;
    background-color: v.$color-dark;
    color: v.$color-light;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: v.$color-dark;
    max-width: 600px;
    line-height: 1.5;
  }

  @include m.media(v.$bp-lg) {
    &__title {
      padding: 0.5rem 1.5rem;
    }

    &__text {
      text-align: center;
    }
  }
}
