@use '../styles/abstract/variable' as v;
@use '../styles/abstract/mixins' as m;

.work_section{
    display: flex;
    flex-direction: column;
    align-items: center;

    .img_principal{
        width: 60%;
    }
    .text_container{
        padding: 50px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25%;
        gap: 40px;
    }
    .work_img_container{
        display: grid;
        grid-template-columns: (repeat(3, 1fr));
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}